flow.json
[{"id":"92687d9b.c3d6d","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"7e3f39c9.e85f58","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab932dba.e53f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a7df1ee5.3ee1b","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e1c20bdb.3abb08","type":"ui_group","z":"","name":"Group 1","tab":"a7df1ee5.3ee1b","order":1,"disp":true,"width":"16","collapse":false},{"id":"ada52bd7.c29688","type":"debug","z":"92687d9b.c3d6d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":582,"y":416,"wires":[]},{"id":"c1e0c51b.4da548","type":"function","z":"92687d9b.c3d6d","name":"insert","func":"var children = global.get('children');\n//var children = db.getCollection(\"children\");\nmsg.payload = JSON.parse(msg.payload);\nchildren.insert(msg.payload);\nmsg.payload = msg.payload.value;\n\n\n\nvar msg2 = {};\n\nvar t = new Date().getTime();\nvar results = children.where(function(obj) {\n  return obj.time >= t - 10000;\n});\n\nvar r = results.reduce(function(a,b){ return { value:a.value + b.value } })\nmsg2.payload = Number((r.value / results.length).toFixed(2));\n\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"x":354,"y":416,"wires":[["ada52bd7.c29688","adae28a7.7e1158"],["1371ccf3.83ace3"]],"icon":"node-red/leveldb.png"},{"id":"e708e916.b35aa8","type":"mosca in","z":"92687d9b.c3d6d","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":170,"y":112,"wires":[["7d5640b7.ffa9a"]]},{"id":"7d5640b7.ffa9a","type":"debug","z":"92687d9b.c3d6d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":406,"y":112,"wires":[]},{"id":"fe4386c8.3c8128","type":"mqtt in","z":"92687d9b.c3d6d","name":"","topic":"hoge","qos":"2","broker":"7e3f39c9.e85f58","x":130,"y":416,"wires":[["c1e0c51b.4da548"]]},{"id":"9f5cd838.f36308","type":"mqtt out","z":"92687d9b.c3d6d","name":"","topic":"hoge","qos":"1","retain":"true","broker":"7e3f39c9.e85f58","x":754,"y":320,"wires":[]},{"id":"2405ec7.bc20d14","type":"inject","z":"92687d9b.c3d6d","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["c7945e3f.43e7c"]]},{"id":"e47db0f2.de735","type":"inject","z":"92687d9b.c3d6d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":656,"wires":[["66179f3.7fc156"]]},{"id":"1b5fa7fb.a91628","type":"debug","z":"92687d9b.c3d6d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":582,"y":656,"wires":[]},{"id":"66179f3.7fc156","type":"function","z":"92687d9b.c3d6d","name":"get","func":"var children = global.get('children');\nmsg.payload = children.find( {'name':'piyo'} );\n\n\nvar t = new Date().getTime();\nvar results = children.where(function(obj) {\n  return obj.time >= t - 5000;\n});\n\nvar r = results.reduce(function(a,b){ return { value:a.value + b.value } })\nnode.warn(results.length);\nnode.warn(r);\nmsg.payload = (r.value / results.length).toFixed(2);\n\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":656,"wires":[["1b5fa7fb.a91628"]],"icon":"node-red/leveldb.png"},{"id":"dd02f180.9b3f3","type":"inject","z":"92687d9b.c3d6d","name":"Just after starting","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":160,"wires":[["8d1236ad.569478"]]},{"id":"8d1236ad.569478","type":"function","z":"92687d9b.c3d6d","name":"create db","func":"var loki = global.get('lokijs');\n\nvar db = new loki('loki.json');\n\n\nvar children = db.addCollection('children', {\"ttl\":60000});\nglobal.set('children', children);\n\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":160,"wires":[["6b251a77.00c5c4"]],"icon":"node-red/leveldb.png"},{"id":"6b251a77.00c5c4","type":"debug","z":"92687d9b.c3d6d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":582,"y":160,"wires":[]},{"id":"c5cc2c48.311b","type":"template","z":"92687d9b.c3d6d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"name\": \"piyo\",\n  \"value\": {{{random}}},\n  \"time\": {{{payload}}}\n}","output":"json","x":572,"y":320,"wires":[["9f5cd838.f36308"]]},{"id":"2d837f07.a6b96","type":"comment","z":"92687d9b.c3d6d","name":"initialize","info":"","x":134,"y":64,"wires":[]},{"id":"e3b5be18.117d3","type":"comment","z":"92687d9b.c3d6d","name":"send message","info":"","x":160,"y":272,"wires":[]},{"id":"e1be5a5f.303a78","type":"comment","z":"92687d9b.c3d6d","name":"receive message","info":"","x":160,"y":368,"wires":[]},{"id":"39afd678.0eb62a","type":"comment","z":"92687d9b.c3d6d","name":"get message","info":"","x":150,"y":608,"wires":[]},{"id":"c7945e3f.43e7c","type":"random","z":"92687d9b.c3d6d","name":"","low":"5","high":"15","inte":"true","property":"random","x":364,"y":320,"wires":[["c5cc2c48.311b"]]},{"id":"adae28a7.7e1158","type":"ui_chart","z":"92687d9b.c3d6d","name":"","group":"e1c20bdb.3abb08","order":1,"width":"16","height":"6","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":562,"y":464,"wires":[[],[]]},{"id":"1371ccf3.83ace3","type":"ui_gauge","z":"92687d9b.c3d6d","name":"","group":"e1c20bdb.3abb08","order":1,"width":"6","height":"4","gtype":"gage","title":"gauge","label":"units","format":"{{value / 15 * 100 | number:1}}%","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":562,"y":512,"wires":[]}]